

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="vertical-menu">
               
                @Ajax.ActionLink("Ürünler", "UrunGetir", new AjaxOptions()
           {
               HttpMethod = "POST",
               UpdateTargetId = "sonuc",
               InsertionMode = InsertionMode.Replace
           })
                @Ajax.ActionLink("Kategori", "KategoriGetir", new AjaxOptions()
        {
            HttpMethod = "POST",
            UpdateTargetId = "sonuc",
            InsertionMode = InsertionMode.Replace
        })

                @Ajax.ActionLink("Resim", "ResimGetir", new AjaxOptions()
        {
            HttpMethod = "POST",
            UpdateTargetId = "sonuc",
            InsertionMode = InsertionMode.Replace
        })
                @Ajax.ActionLink("Yazi", "YaziGetir", new AjaxOptions()
       {
           HttpMethod = "POST",
           UpdateTargetId = "sonuc",
           InsertionMode = InsertionMode.Replace
       })
               
            </div>
        </div>
        <div id="sonuc" class="col-md-10">

        </div>
    </div>
    </div>