<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Charm" rel="stylesheet">
</head>
<body class="body">
    <nav class="navbar navbar-default navbar-fixed-top ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"><i class="fas fa-user-secret"> KÖFTECİ ABİ</i></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" >ANA SAYFA</a></li>
                    <li><a href="#Urunler">MENÜ</a></li>
                    <li><a href="#hakkimizda">HAKKIMIZDA</a></li>
                    <li><a href="#iletisim">İLETİŞİM</a></li>
                </ul>
            </div>
        </div>
    </nav>


    @RenderBody()

    <hr />

    <footer>
        <div class="container rw" id="iletisim">
            <div class="colm">
                <h1 class="footer">ADRES</h1><p class="txt">MERKEZ MAHALLESİ DÜLDÜL SOKAK NO:17 D:2 ARNAVUTKÖY/İSTANBUL</p>
                                             <a href="https://www.google.com/maps?ll=41.196702,28.727735&z=16&t=m&hl=tr-TR&gl=TR&mapclient=embed&cid=4913429667909356695"  target="_blank" style="color:blue">Haritayı Aç</a>
            </div>
            <div class="colm"><h1 class="footer">İLETİŞİM</h1><p class="txt container">(0546) 873 61 62</p></div>
            <div class="colm"><h1 class="footer">EMAİL</h1><p class="txt">dnztanverdi@gmail.com</p></div>
            <div class="colm">
                <h1 class="footer">SOSYAL MEDYA</h1><p>
                    <div class="container" style="text-align:center">
                        <a href="https://www.instagram.com/dnztanverdi/"><i class="  fab fa-instagram fa-4x link " style="color:black"></i> </a>
                        <a href="https://www.facebook.com/dnztanverdi/"><i class="fab fa-facebook fa-4x link" style="color:black"></i> </a>

                    </div>
                </p>
            </div>
        </div>
        <br />
        <br />
        <div class="site-info">
            <div class="site-info_in">


                <p class="copyright container" style="text-align:center;color:white;">© 2019 DENİZ TANRIVERDİ</p>


            </div><!-- .site-info_in -->
        </div>
    </footer>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>